{% extends 'base.html' %}

{% block page_content %}



<p>Theoretical evolutionary and pulsation models are described in detail in the Method section
    of <a
        class="literature-item"
   href="https://ui.adsabs.harvard.edu/abs/2022MNRAS.515.4574N/abstract">Publication in ADS</a>.
In the same publication see the application of the grid of models to perform asteroseismic
modeling of High-Amplitude Delta Scuti stars pulsating in at least three radial modes observed
in the Galactic disk fields of the OGLE catalog.
</p>

<hr/>

<h5>Structure of the grid of models</h5>

<p>
    Mass range is available in a range of TBD with a step of.
</p>

<hr/>


<h5>
    Exporting the data
</h5>

<hr/>

<h5>Using the available data</h5>

<p>
    If you use the data and tools provided here please add the following citation to the
    publication: <a
        class="literature-item"
   href="https://ui.adsabs.harvard.edu/abs/2022MNRAS.515.4574N/abstract">Publication in ADS</a>

</p>

{% endblock page_content %}