{% extends "base.html" %}

{% block page_content %}

<section class="container ">

    <div class="website-item">
        <div class="header-item">
            <h5>About</h5>
        </div>
        <div class="content-item">
            testnuvbsicbwiu  bie  a iures  sschruie  nvfensu
        </div>
        <div class="link-item">
            <a class="menu-item btn" href="{% url 'about' %}">Read more</a>
        </div>
    </div>


    <div class="website-item">
        <div class="header-item">
            <h5>Theoretical Models</h5>
        </div>
        <div class="content-item">
            testnuvbsicbwiu  bie  a iures  sschruie  nvfensu
        </div>
        <div class="link-item">
            <a class="menu-item btn" href="{% url 'models' %}">Models</a>
        </div>
    </div>


    <div class="website-item">
        <div class="header-item">
            <h5>Tools</h5>
        </div>
        <div class="content-item">
            testnuvbsicbwiu  bie  a iures  sschruie  nvfensu
        </div>
        <div class="link-item">
            <a class="menu-item btn" href="{% url 'tools' %}">Tools</a>
        </div>
    </div>


</section>

{% endblock page_content %}
