{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block page_content %}

<h5 class="p-4">Select mass, metallicity and overshooting to plot the evolutionary track</h5>
<p class="legend"> <span>Mass range:</span> 0.85 - 2.5 M<sub>&#8857;</sub></p>
<p class="legend"> <span>[Fe/H] range:</span> -2.0 - 0.0 dex</p>
<p class="legend"> <span>f<sub>ov</sub> range range:</span> 0.0 - 0.031</p>

<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit">Submit</button>
</form>


{% if query_result %}
    <!-- Display the queried data -->
    <h2 class="p-3">Queried Data</h2>
<!--    <ul>-->
<!--        {% for data in query_result %}-->
<!--            <li>{{ data.logt }}, {{ data.mass }}</li>-->
<!--        {% endfor %}-->
<!--    </ul>-->


    <div>
        <img src="data:image/png;base64, {{track_plot|safe}}">
    </div>

{% endif %}

{% endblock page_content %}